
div#carousel { 
  
  margin-bottom: -10rem;
    
    overflow: hidden; 
    left: 0;
    width: 1000px;
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 61%;
    max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
    left: 20%;
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: black; 

    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }

  .imgtag
  {
    width: 500px;
  }

  .flex-item-left {
    padding: 10px;
    flex: 45%;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 55%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, 
    .flex-item-left {
      flex: 50%;
    }
  
  }
  .card {
    /* background-color: dodgerblue; */
    color: black;
    padding-top: 16px;
  }
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0px;
  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }

  div > button{
    background-color: blue;
  }

  .react-multiple-carousel__arrow--right {
    z-index: auto;
    right: calc(0% + 0px);
}
.react-multiple-carousel__arrow--left {
  z-index: auto;
  left: calc(0% + 0px);
}

@media (max-width: 800px) {
  .flexcontainer {
    flex-direction: column;
  }
}
.dropbtn {
  /* background-color: #04AA6D;
  color: white; */
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > .popcontent {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #888;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
